<aside
  class="w-64 h-full p-4 bg-[#14162E] text-white flex flex-col justify-between"
>
  <div>
    <img src="assets/logo.png" alt="logo" />
    <div class="flex flex-col gap-2 items-center">
      <h4 class="text-[#2E88EF] font-bold text-lg">Usuários conectados</h4>
      <ul class="w-full flex flex-col gap-2 text-[#14162E]">
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          Rafael Sanches
        </li>
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          Fernanda Linhares
        </li>
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          Fabiola Pinho
        </li>
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          José Francisco
        </li>
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          Isaque Scheidt
        </li>
        <li class="w-full bg-[#FF60AC] px-2 py-1 rounded-md rounded-tl-none">
          Icaro Andrade
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="bg-[#833BDF] px-2 py-1 rounded-md">Sair</button>
</aside>
